<header class="container">
    <div class="title">
        <img src="{{ .Site.BaseURL }}/img/jadarma_avatar.png"
             alt="Author's Profile Picture Avatar">
        <a class="contrast" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    <nav>
        <a href="{{ .Site.BaseURL }}">
            <i class="fa-solid fa-home"></i>
            <span>Home</span>
        </a>
        <a href="{{ .Site.BaseURL }}posts">
            <i class="fa-solid fa-newspaper"></i>
            <span>Posts</span>
        </a>
        <a href="{{ .Site.BaseURL }}series">
            <i class="fa-solid fa-layer-group"></i>
            <span>Series</span>
        </a>
        <a href="{{ .Site.BaseURL }}filter">
            <i class="fa-solid fa-filter"></i>
            <span>Filter</span>
        </a>
        <a href="{{ .Site.BaseURL }}about">
            <i class="fa-solid fa-circle-info"></i>
            <span>About</span>
        </a>
    </nav>
</header>
<hr>
