/* CUSTOM CHROMA THEME ----------------------------------------------------------------------------------------------*/
/* Done manually, because I need me my IDE consistency.                                                              */
/* Designed to be paired with the Base16 Theme defined in `colors.css`.                                              */
/* ------------------------------------------------------------------------------------------------------------------*/

/* Make Pico code blocks consistent with theme. */
:root {
    --pico-code-color: var(--color-fg) !important;
    --pico-code-backgroud-color: var(--color-bg) !important;
}

/* @formatter:off */
/* Background */ .bg { color: var(--color-fg); background-color: var(--color-bg); }
/* PreWrapper */ .chroma { color: var(--color-fg); background-color: var(--color-bg); }
/* Other */ .chroma .x { }
/* Error */ .chroma .err { color: var(--color-bg); background-color: var(--color-error); font-weight: bold; }
/* CodeLine */ .chroma .cl { }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit; }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { color: var(--color-fg-light); background-color: var(--color-bg-selection); }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--color-fg-muted); }
/* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--color-fg-muted); }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: var(--color-purple); font-style: italic; }
/* KeywordConstant */ .chroma .kc { color: var(--color-purple); font-style: italic; font-weight: bold; }
/* KeywordDeclaration */ .chroma .kd { color: var(--color-purple); font-style: italic; }
/* KeywordNamespace */ .chroma .kn { color: var(--color-purple); font-style: italic; }
/* KeywordPseudo */ .chroma .kp { color: var(--color-purple); font-style: italic; font-weight: bold; }
/* KeywordReserved */ .chroma .kr { color: var(--color-purple); font-style: italic; }
/* KeywordType */ .chroma .kt { color: var(--color-purple); font-style: italic; }
/* Name */ .chroma .n { }
/* NameAttribute */ .chroma .na { color: var(--color-yellow); }
/* NameBuiltin */ .chroma .nb { }
/* NameBuiltinPseudo */ .chroma .bp { }
/* NameClass */ .chroma .nc { color: var(--color-yellow); }
/* NameConstant */ .chroma .no { color: var(--color-blue); font-weight: bold; }
/* NameDecorator */ .chroma .nd { color: var(--color-purple); }
/* NameEntity */ .chroma .ni { color: var(--color-yellow); }
/* NameException */ .chroma .ne { color: var(--color-yellow); }
/* NameFunction */ .chroma .nf { color: var(--color-blue); }
/* NameFunctionMagic */ .chroma .fm { color: var(--color-blue); }
/* NameLabel */ .chroma .nl { color: var(--color-blue); font-weight: bold; }
/* NameNamespace */ .chroma .nn { }
/* NameOther */ .chroma .nx { }
/* NameProperty */ .chroma .py { color: var(--color-fg-light); font-weight: bold; }
/* NameTag */ .chroma .nt { color: var(--color-red); }
/* NameVariable */ .chroma .nv { color: var(--color-orange); }
/* NameVariableClass */ .chroma .vc { color: var(--color-orange); }
/* NameVariableGlobal */ .chroma .vg { color: var(--color-orange); }
/* NameVariableInstance */ .chroma .vi { color: var(--color-orange); }
/* NameVariableMagic */ .chroma .vm { color: var(--color-orange); }
/* Literal */ .chroma .l { color: var(--color-orange); }
/* LiteralDate */ .chroma .ld { color: var(--color-orange); }
/* LiteralString */ .chroma .s { color: var(--color-green); }
/* LiteralStringAffix */ .chroma .sa { color: var(--color-green); }
/* LiteralStringBacktick */ .chroma .sb { color: var(--color-green); }
/* LiteralStringChar */ .chroma .sc { color: var(--color-green); }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--color-green); }
/* LiteralStringDoc */ .chroma .sd { color: var(--color-green); }
/* LiteralStringDouble */ .chroma .s2 { color: var(--color-green); }
/* LiteralStringEscape */ .chroma .se { color: var(--color-cyan); }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--color-green); }
/* LiteralStringInterpol */ .chroma .si { color: var(--color-cyan); }
/* LiteralStringOther */ .chroma .sx { color: var(--color-cyan); }
/* LiteralStringRegex */ .chroma .sr { color: var(--color-cyan); }
/* LiteralStringSingle */ .chroma .s1 { color: var(--color-green); }
/* LiteralStringSymbol */ .chroma .ss { color: var(--color-cyan); }
/* LiteralNumber */ .chroma .m { color: var(--color-orange); }
/* LiteralNumberBin */ .chroma .mb { color: var(--color-orange); }
/* LiteralNumberFloat */ .chroma .mf { color: var(--color-orange); }
/* LiteralNumberHex */ .chroma .mh { color: var(--color-orange); }
/* LiteralNumberInteger */ .chroma .mi { color: var(--color-orange); }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--color-orange); }
/* LiteralNumberOct */ .chroma .mo { color: var(--color-orange); }
/* Operator */ .chroma .o { color: var(--color-cyan); font-weight: bold; }
/* OperatorWord */ .chroma .ow { color: var(--color-cyan); font-weight: bold; }
/* Punctuation */ .chroma .p { color: var(--color-cyan); }
/* Comment */ .chroma .c { color: var(--color-fg-muted); font-style: italic; }
/* CommentHashbang */ .chroma .ch { color: var(--color-fg-muted); font-style: italic; }
/* CommentMultiline */ .chroma .cm { color: var(--color-fg-muted); font-style: italic; }
/* CommentSingle */ .chroma .c1 { color: var(--color-fg-muted); font-style: italic; }
/* CommentSpecial */ .chroma .cs { color: var(--color-fg-muted); font-style: italic; font-weight: bold; }
/* CommentPreproc */ .chroma .cp { color: var(--color-purple); font-weight: bold; }
/* CommentPreprocFile */ .chroma .cpf { font-weight: bold; }
/* Generic */ .chroma .g { }
/* GenericDeleted */ .chroma .gd { color: var(--color-red); background-color: var(--color-bg-selection); }
/* GenericEmph */ .chroma .ge { font-style: italic; }
/* GenericError */ .chroma .gr { color: var(--color-error); }
/* GenericHeading */ .chroma .gh { color: var(--color-blue); font-weight: bold; }
/* GenericInserted */ .chroma .gi { color: var(--color-green); background-color: var(--color-bg-selection); }
/* GenericOutput */ .chroma .go { color: var(--color-fg-dark); }
/* GenericPrompt */ .chroma .gp { color: var(--color-fg-dark); }
/* GenericStrong */ .chroma .gs { font-weight: bold; }
/* GenericSubheading */ .chroma .gu { color: var(--color-blue); }
/* GenericTraceback */ .chroma .gt {color: var(--color-error); }
/* GenericUnderline */ .chroma .gl { text-decoration: underline; }
/* TextWhitespace */ .chroma .w { }
/* @formatter:on */
