/* PAGE -------------------------------------------------------------------------------------------------------------*/
/* Set minimum viewport size and ensure an empty-ish page covers at least the device viewport. */
body {
    min-width: 320px;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/** Limit the width of some pages for easier reading. */
@media screen and (min-width: 1280px) {
    main.container.thin {
        width: 100%;
        max-width: 48rem;
        align-self: center;
    }
}

/* HEADER -----------------------------------------------------------------------------------------------------------*/
/* Disable spacing for horizontal rule right after header. */
header + hr {
    margin-top: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

header > div.title {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

header > div.title a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

header > div.title img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

header > nav {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

header > nav a {
    flex-grow: 1;
    border-radius: 4pt;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    height: fit-content;
}

/** Navigation items will respond to mouse overs. */
header > nav > a:hover i {
    animation: fa-beat 0.5s normal linear;
}

/** Pretty pretty colors! But a lot of boilerplate... */
/* @formatter:off */
header > nav > a:nth-child(1)       { color: var(--color-red                 ); background-color: var(--pico-card-background-color); }
header > nav > a:nth-child(1):hover { color: var(--pico-card-background-color); background-color: var(--color-red                 ); }
header > nav > a:nth-child(2)       { color: var(--color-green               ); background-color: var(--pico-card-background-color); }
header > nav > a:nth-child(2):hover { color: var(--pico-card-background-color); background-color: var(--color-green               ); }
header > nav > a:nth-child(3)       { color: var(--color-yellow              ); background-color: var(--pico-card-background-color); }
header > nav > a:nth-child(3):hover { color: var(--pico-card-background-color); background-color: var(--color-yellow              ); }
header > nav > a:nth-child(4)       { color: var(--color-blue                ); background-color: var(--pico-card-background-color); }
header > nav > a:nth-child(4):hover { color: var(--pico-card-background-color); background-color: var(--color-blue                ); }
header > nav > a:nth-child(5)       { color: var(--color-purple              ); background-color: var(--pico-card-background-color); }
header > nav > a:nth-child(5):hover { color: var(--pico-card-background-color); background-color: var(--color-purple              ); }
@media screen and (prefers-color-scheme: light) { header > nav > a { box-shadow: var(--pico-box-shadow); }  }
/* @formatter:on */

/** Small screens should hide text and show title. */
@media screen and (max-width: 767px) {
    header > div.title {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    header > nav a > span {
        display: none;
    }

    header > nav {
        width: 288px;
    }
}

/** Small and medium screens should stack the title and navigator vertically. */
@media screen and (max-width: 1023px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

/* Medium-tablet sized screens should add a newline after the icon to ensure enough room for text. */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

/* Medium sized screens should cover the whole length evenly with the nav bar. */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    header > nav {
        width: 100%;
    }

    header > nav > a {
        width: calc((100% - 4em) / 5);
    }
}

/* FOOTER -----------------------------------------------------------------------------------------------------------*/
/* Disable spacing for horizontal rule right before footer. */
hr:has(+footer) {
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* Customize copyright text. */
footer > div.copyright {
    line-height: 1.1em;
}

/* Customize social links. */
footer > div.socials {
    align-content: flex-start;
    margin: auto 0;
    font-size: 1.5rem;
    user-select: none;
}

footer > div.socials a {
    text-decoration: none;
}

/* Make icons bounce while hovered. Pick me! */
footer > .socials a > i:hover {
    animation: fa-bounce 1s infinite linear;
}

/** Change to a vertical layout for small screens. */
@media screen and (max-width: 575px) {
    footer {
        align-items: center;
        flex-direction: column-reverse;
        gap: 1em;
    }

    footer > div.copyright {
        text-align: center;
    }
}

/* ERRORS -----------------------------------------------------------------------------------------------------------*/
div.error404 {
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

div.error404 > h1 {
    font-size: 10rem;
    color: var(--color-red);
}

/* PARTIALS ---------------------------------------------------------------------------------------------------------*/
article.preview span.detail {
    font-size: 0.75rem;
    color: var(--pico-muted-color);
}

article.preview span.detail > i {
    margin: 0 0.25rem;
}

article.preview a {
    text-decoration: none;
}

/* PAGINATION -------------------------------------------------------------------------------------------------------*/
div.pagination {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

div.pagination > span.page-count {
    flex-grow: 1;
    text-align: center;
}

div.pagination > a {
    border-radius: 4pt;
    width: 3rem;
    height: 3rem;
}

/* POSTS PAGE -------------------------------------------------------------------------------------------------------*/
h2.posts-year {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--pico-muted-border-color);
}

article.minimal {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

article.minimal > a.post-link {
    flex-grow: 1;
}

article.minimal > span.post-date {
    min-width: fit-content;
    max-width: fit-content;
}

article.minimal > a:not(:hover) {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    article.minimal {
        flex-direction: column;
        align-items: revert;
    }
}

/* FILTER PAGE ------------------------------------------------------------------------------------------------------*/
#filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 1027px) {
    #filter {
        flex-direction: column;
    }
}

@media screen and (min-width: 1028px) {
    #filter > #results {
        flex-grow: 1;
    }

    #filter > #taxonomies {
        width: 420px;
        min-width: 420px;
    }
}

ul.taxonomy-list.taxonomy-tags {
    list-style: none inside none;
    padding-left: 0;
}

ul.taxonomy-list.taxonomy-tags > li {
    display: inline-block;
    padding: 4pt 8pt;
    border-radius: 4pt;
}

ul.taxonomy-list.taxonomy-tags > li:hover {
    outline: 1pt solid var(--pico-primary);
}

ul.taxonomy-list > li > a {
    text-decoration: none;
}

/* POSTS ------------------------------------------------------------------------------------------------------------*/
article.single {
    padding-top: 5rem;
}
article.single span.detail {
    font-size: 0.75rem;
    color: var(--pico-muted-color);
}
article.single div.meta {
    text-align: center;
    margin-bottom: 5rem;
}

article.single span.detail > i {
    margin: 0 0.25rem;
}

article.single div.taxonomy {
    font-size: 0.75rem;
    color: var(--pico-muted-color);
}
article.single div.taxonomy a {
    text-decoration: none;
}

article.single figure > figcaption {
    text-align: center;
}
article.single figure > img {
    display: block;
    margin: 0 auto;
}
/* CONTENT & ELEMENTS -----------------------------------------------------------------------------------------------*/
#page-title {
    align-self: center;
    text-align: center;
}

#page-subtitle {
    align-self: center;
    font-style: italic;
}

/* Hide / Reveal the Heading Anchors */
.hanchor {
    color: var(--color-fg-muted);
    visibility: hidden;
    text-decoration: none;
}

*:hover > .hanchor {
    color: var(--color-green);
    visibility: visible;
}

.card {
    background: var(--pico-card-background-color);
    padding: var(--pico-spacing);
    margin-bottom: var(--pico-spacing);
    box-shadow: var(--pico-box-shadow);
}
