<header class="container">
    <div class="title">
        <img src="{{ .Site.BaseURL }}/img/jadarma_avatar.png"
             alt="Author's Profile Picture Avatar">
        <strong style="font-size:2rem">{{ .Site.Title }}</strong>
    </div>
    <nav>
        <a href="{{ .Site.BaseURL }}">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-layer-group"></i>
            <span>Series</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-cubes"></i>
            <span>Categories</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-tags"></i>
            <span>Tags</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-circle-info"></i>
            <span>About</span>
        </a>
    </nav>
</header>
<hr>
