name: 'Publish To GitHub Pages'

# Action Dependency Pins:
# actions/checkout              - de0fac2e4500dabe0009e67214ff5f5447ce83dd - v6.0.2  - https://github.com/actions/checkout/releases
# actions/upload-pages-artifact - 7b1f4a764d45c48632c6b24a0339c27f5614fb0b - v4.0.0  - https://github.com/actions/upload-pages-artifact/releases
# actions/deploy-pages          - d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e - v4.0.5  - https://github.com/actions/deploy-pages/releases
# cachix/install-nix-action     - 4e002c8ec80594ecd40e759629461e26c8abed15 - v31.9.0 - https://github.com/cachix/install-nix-action/releases
# cachix/cachix-action          - 0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad - v16     - https://github.com/cachix/cachix-action/releases

on:
  push:
    branches:
      - main

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Install Nix'
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15
      - name: 'Configure Cachix'
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad
        with:
          name: devenv
      - name: 'Install devenv.sh'
        run: nix profile install nixpkgs#devenv
      - name: 'Checkout'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: 'Build'
        run: devenv shell build
      - name: 'Upload Pages Artifact'
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b
        with:
          path: public

  Deploy:
    needs: 'Build'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Deploy to GitHub Pages'
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e
